/node_modules
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
/public/*/
!/public/vendor/sitemap/*
/public/mix-manifest.json
/storage/debugbar/
/resources/lang/vendor/
/resources/assets/travel2fairs/images/sprite.png
/resources/assets/travel2fairs/sass/sprite.scss
/package-lock.json
/storage/old/
/_ide_helper.php
/.phpstorm.meta.php
/storage/logs/*.log
