@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/simplebar/dist/simplebar.min.css';
@import '../../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css';

html {

  @import 'variables';

  &.transition,
  &.transition *,
  &.transition *:before,
  &.transition *:after {
    transition: all 0.5s !important;
    transition-delay: 0s !important;
  }

  $primary-accent-color: #1976d2;
  $secondary-accent-color: #303f9f;

  $small-material-shadow: 0px 2px 5px -3px rgba(0, 0, 0, 0.1);

  &[data-theme='light'] {
    // VARIABLES

    $bg: #f9f9f9;
    $bg-card: #fff;
    $primary-font-color: #313131;

    //COMPONENT STYLES
    @import 'helpers';
    @import 'top_navs';
    @import 'slider';
    @import 'sidebar';
    @import 'main';
    @import 'footer';
    @import 'bottom_nav';
    @import 'responsive';

  }

  &[data-theme='dark'] {
    // VARIABLES

    $bg: #333;
    $bg-card: #444;
    $primary-font-color: #f1f1f1;

    //COMPONENT STYLES
    @import 'helpers';
    @import 'top_navs';
    @import 'slider';
    @import 'sidebar';
    @import 'main';
    @import 'footer';
    @import 'bottom_nav';
    @import 'responsive';
  }

}
