.main-bottom-footer {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  background-color: #1976d2;
}

.main-bottom-footer-separator {
  width: 100%;
  height: 25px;
  background-color: #1984E4;
}

.main-bottom-footer-logo {
  margin: auto;
}

.main-bottom-footer-text {

}

.main-bottom-footer-credits {

}