body {
  width: 100%;
  height: 100%;
  touch-action: manipulation;
  font-family: 'Roboto', sans-serif;
}

.contained{
  max-width: 1140px !important;
  margin: 0 auto !important;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: $bg; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

#panel{
  padding: 56px 0 0 0;
}

#menu{
  background: $bg-card;
}

.view-wrapper{
  padding: 20px 0 10px 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.selected-sport-box{
  position: relative;
  width: 100%;
  padding: 50px 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bg-card;
  .sport-box-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    p{
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      color: white;
      font-size: 20px;
      margin: 0;
      font-weight: 900;
    }
  }
}

#pagination{
  display: flex;
  justify-content: center;
  padding: 25px 0;
  .pagination{
    li{
      &.disabled{
        span{
          background-color: $bg;
          color: $primary-font-color;
        }
      }
      a{
        background-color: $bg-card;
        color: $primary-font-color;
      }
    }
  }
}