.match-view-bg-container {
  position: relative;
  width: 100%;
  min-height: 60vh;
  overflow: hidden;

  .match-view-bg {
    width: 100%;
    min-height: 60vh;
    object-fit: cover;
  }

  .match-view-bg-filter {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(9, 25, 50);
    background: -moz-linear-gradient(180deg, rgba(9, 25, 50, 0.85) 50%, $bg 100%);
    background: -webkit-linear-gradient(180deg, rgba(9, 25, 50, 0.85) 50%, $bg 100%);
    background: linear-gradient(180deg, rgba(9, 25, 50, 0.85) 50%, $bg 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091932", endColorstr=$bg, GradientType=1);
    height: 100%;
    width: 100%;
  }
  .sport-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    border: none;
    .card-header{
      border: none;
      .match-date{
        margin: 0;
        color: white;
      }
    }
    .game-info-container{
      padding: 20px 10px;
      .view-team {
        margin: 10px 0;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        color: white;

        p {
          margin: 0;
        }
      }

      .view-result {
        text-align: center;
        font-size: 30px;
        letter-spacing: 5px;
        font-weight: 700;
        color: white;

        p {
          margin: 0;
        }
      }
    }

    .odds-table-container{
      padding: 10px;
      .odds-table {
        background: $table-bg;
        tr {
          &.odds-table-header {
            th {
              color: $primary-font-color;
            }
          }

          td {
            color: $primary-font-color;
          }
        }
      }
    }
  }
}
